<header>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsfTXOmTwE1v2bwz-NqdZb0cRL8y6YDZgGfA&usqp=CAU"
          alt=""
          width="40"
          height="34"
          class="d-inline-block align-text-top"
        />
        Bralita
      </a>
    </div>
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="inicio" href="">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="servicios" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="galeria" href="#">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacto" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
