<h1 class="display-1">Productos Destacados</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img
        src="https://as01.epimg.net/deporteyvida/imagenes/2021/01/05/portada/1609837835_713150_1609838270_noticia_normal_recorte1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Combo Frapu con Mocha y capsulas</h5>
        <p class="card-text">
          Disfruta tu combo con nuesto Frappuccino, Mocha delicioso y dos
          capsula de Latte.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://elements-cover-images-0.imgix.net/b5f2d514-2f0d-4fec-af40-29c008b71087?auto=compress&crop=edges&fit=crop&fm=jpeg&h=800&w=1200&s=ab3577807e1c881b337e374c2bb6c54c"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Bralita Bag</h5>
        <p class="card-text">
          Llevate tu Bralita Bag con unos de nuestos cafes y dos medialunas.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://media.istockphoto.com/photos/espresso-coffee-and-machine-picture-id1030882758?k=20&m=1030882758&s=612x612&w=0&h=koH9T_nNKF30gZHxYTid5u4otD3qxRg0fg2cf7Rj48M="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Bralita Espresso</h5>
        <p class="card-text">
          Cafe expreso con granos Espresso Roast seleccionados.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://cdn7.kiwilimon.com/recetaimagen/36988/1900x1080/46353.jpg.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Combo Caramel + Vanilla</h5>
        <p class="card-text">
          LLevate tu Bralita Caramel Macchiatto con Bralita Vanilla Latte.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://m.media-amazon.com/images/I/41MsP5-hnPL.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Bralita Grains</h5>
        <p class="card-text">
          Disfruta nuestra Bralita Grains con granos de cafe Colombiano.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://image.shutterstock.com/image-photo/ground-coffee-spilling-foil-bag-260nw-557371972.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Bralita Grounds</h5>
        <p class="card-text">
          Disfruta nuesta Bralita Grounds con cafe molido en con distintos
          sabores.
        </p>
      </div>
    </div>
  </div>
</div>
<br />
