<h1 class="display-1">Nuestras Tiendas</h1>
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="https://culturacafeina.com/wp-content/uploads/2020/04/como-identificar-un-buen-coffee-shop-2.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="https://perfectdailygrind.com/wp-content/uploads/2019/02/coffee-bar.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://www.re-thinkingthefuture.com/wp-content/uploads/2021/05/A4196-10-Things-you-should-remember-before-designing-a-coffee-shop.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="https://i.pinimg.com/originals/7a/10/20/7a1020befab0387e9ee19d95d4647cd6.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://b.zmtcdn.com/data/reviews_photos/84b/ed276177bc968afb06865fb4c43d284b_1556569040.jpg?fit=around|771.75:416.25&crop=771.75:416.25;*,*"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="https://images.adsttc.com/media/images/5de8/74f9/3312/fdbc/3500/005b/newsletter/Culturist_5.jpg?1575515353"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
</div>
