footer {
  background: #292621;
}
body,
html {
  height: 100%;
}

footer {
  height: max-content;
}

.social-logo {
  display: flex;
  color: aqua;
  width: 45px;
  height: 45px;
  padding-top: 10px;
}

.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

.form-title {
  padding-top: 30px;
}

.form-btn {
  margin-top: 20px;
}
