<section class="container-fluid">
  <div class="row justify-content-center p-4">
    <div class="form">
      <div class="form-title">
        <h1>Contactanos</h1>
      </div>
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="floatingInputGrid"
              placeholder="name@example.com"
            />
            <label for="floatingInputGrid">Email</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <select
              class="form-select"
              id="floatingSelectGrid"
              aria-label="Floating label select example"
            >
              <option selected>Menu</option>
              <option value="1">Productos</option>
              <option value="2">Trabajo</option>
              <option value="3">Queja</option>
            </select>
            <label for="floatingSelectGrid">Tipo de consulta</label>
          </div>
        </div>
      </div>
      <br />
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
          style="height: 100px"
        ></textarea>
        <label for="floatingTextarea2">Comentario</label>
      </div>
      <br />
      <div>
        <button type="submit" class="form-btn btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</section>
